/*
declaration block:

selector{
    
    property: value;
    property2: value;
}
*/
body{
    background-color: lightblue;
    color: black;
}

nav{
    height: 600px;
    width: 200px;
    float: left;
    padding: 5px;

}

footer{
    text-align: center;
    margin-right: 200px;
}

#memeImage{
    width: 500px;
    height: 500px;
}

h1{
    text-align: center;
}